<div class="card text-center" style="background-color:palegoldenrod;">
    <div class="card-header">
        <a class="nav-link  btn btn-sm btn-amber" href="#">Fashion</a>
        <a class="nav-link  btn btn-sm btn-blue" href="#">Electronic</a>
        <a class="nav-link  btn btn-sm btn-cyan" href="#">Home</a>
        <a class="nav-link  btn btn-sm btn-blue-grey" href="#">Beauty &amp; Care</a>
        <a class="nav-link  btn btn-sm btn-brown" href="#">Personal</a>
        <a class="nav-link  btn btn-sm btn-danger" href="#">Baby</a>
    </div>
</div>


@*deneme bitis*@
<div class="nav" style="background-color:cornsilk;">
    <input type="checkbox" id="menu" />
    <label for="menu" id="nav-icon">&#9776;</label>

    <div class="multi-level">
        <div class="item">
            <input type="checkbox" id="A" />
            <img src="~/Images/Homepage/icons/Arrow.png" class="arrow"><label for="A">Services</label>

            <ul>
                <li><a href="#">Branding</a></li>
                <li><a href="#">Web/App Development</a></li>
                <li><a href="#">Internet Marketing and SEO</a></li>
            </ul>
        </div>
        <div class="item">
            <input type="checkbox" id="B" />
            <img src="~/Images/Homepage/icons/Arrow.png" class="arrow"><label for="B">Jobs</label>

            <ul>
                <li>
                    <div class="sub-item">
                        <input type="checkbox" id="B-A" />
                        <img src="~/Images/Homepage/icons/Arrow.png" class="arrow"><label for="B-A">UI/UX</label>

                        <ul>
                            <li><a href="#">UI/UX Designer</a></li>
                            <li><a href="#">UI Designer</a></li>
                            <li><a href="#">UX Designer</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="sub-item">
                        <input type="checkbox" id="B-B" />
                        <img src="~/Images/Homepage/icons/Arrow.png" class="arrow"><label for="B-B">Development</label>

                        <ul>
                            <li><a href="#">Front end Developer</a></li>
                            <li><a href="#">Back end Developer</a></li>
                        </ul>

                    </div>
                </li>
                <li><a href="#">Graphic Designer</a></li>
                <li><a href="#">Logo Designer</a></li>

            </ul>
        </div>
        <div class="item">
            <input type="checkbox" id="C" />
            <img src="~/Images/Homepage/icons/Arrow.png" class="arrow"><label for="C">About</label>

            <ul>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Our Work</a></li>
            </ul>
        </div>
    </div>

</div>
